<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfckata.loan.Mapper.LoanInfoMapper">
  <resultMap id="BaseResultMap" type="com.cfckata.loan.dto.LoanInfoDto">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="loanId" jdbcType="VARCHAR" property="loanId"  />
  </resultMap>
  <sql id="Base_Column_List">
    id, loanId
  </sql>
	<select id="selectByLoanId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from loan_info
		where loanId = #{loanId,jdbcType=VARCHAR}
	</select>
	<insert id="add">
		INSERT INTO loan_info
		(
		<include refid="Base_Column_List" />
		)
		VALUES
		(#{id}, #{loanId})
	</insert>
  
</mapper>
